* {
    font-family: Arial, Helvetica, sans-serif;
}

/* timer style */

#countdown {
  float: right;
  padding-right: 20px;
  font-size: 15px;
  font-weight: lighter;
}

header {
  display: block;
  margin-top: 20px;
  justify-content: space-between;

}
  
a {
    text-decoration: none;
    padding: 20px;
}



/* instructions style */
#intro {
  text-align: center;
}


/* style for main content/Quiz */
#container {
  display: grid;
  padding: 50px;
  margin: 5px;
  grid-template-columns: .5fr;
  justify-content: center;
  align-items: center;
}

#question {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
#choice-buttons {
  width: 500px;


}

.btn-grid {
  display: grid;
  gap: 5px;
  max-width: 150px;
  width: 80%;
  margin: 10px 0;
}

.btn {
  background-color: indigo;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 5px 5px;
  text-align: start;
}

.btn:hover {
  background-color: violet;
}

.hide {
  display: none;
}

h4 {
  font-style: italic;
  color: dimgray;
}

#score-form input {
  padding: 5px;
}

#score-form input:focus {

  border: 1px solid lightblue;
}

#score-list {
  background-color: lavender;
}

#score-list li {
  padding-top: 5px;;
}